*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f3f4f6;
}

/*Mapeamento Inicial Seletores Header*/
body > header:first-child{
    background-image: url('./image/papel-de-parede-auto-colante-coffee-preto-fundo-branco-papel-de-parede.jpg');
}
body > header:first-of-type > nav{
    height: 250px;
    display: flex;
    justify-content: center;
}
body > header:first-of-type > nav > ol{min-width: 55%;display: flex;background-color: #ffffff;margin-bottom: 190px;border-radius: 10px 10px 15px 15px;box-shadow: 0px 0px 12px -6px;flex-direction: row;flex-wrap: nowrap;align-items: center;justify-content: space-around;}

body > header:first-of-type > nav > ol > button{
    display: none;
}
body > header:first-of-type > nav > ol > li{
    list-style: none;
}
/*Mapeamento Inicial Selector First section*/
body > section:first-of-type{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
body > section:first-of-type > img:first-child{
    object-fit: cover;
    max-width: 99%;
    min-width: 99%;
    object-position: right;
    height: 500px;
    margin: 80px 0px 80px 0px;
    box-shadow: 0px 0px 12px -10px;
    border-radius: 30px;
}

/*Mapeamento Inicial main*/
body > main:first-of-type{
    justify-content: flex-end;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
body > main:first-of-type > hr:first-of-type{
    border: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
#main_1{
    background-color: white;
    width: 95%;
    box-shadow: 0px 0px 12px -10px;
    border-radius: 10px;
}


#main_1 > div:first-of-type{
    margin: 0px 0px 20px 25%;
    padding: 15px 0px 0px 0px;
    width: 50%;
}
#main_1 > div:first-of-type h1{text-align: center;}
#main_1 > div:first-of-type p{
    text-align: center;
    margin: 5px 50px 25px 50px;
}
#main_1 > div:last-of-type{
    padding: 0px 0px 40px 0px;
    display: flex;
    justify-content: center;
}

.slot{
    height: 327px;
    width: 250px;
    margin: 0px 8px 0px 8px;
    border-color: #ffffff;
    border-style: solid;
    background-color: white;
    box-shadow: 0px 0px 14px -10px;
    border-radius: 20px;
}
.slot img{
    width: 45px;
    height: auto;
    margin-left: 25px;
    opacity: 1 !important;
    margin-top: 13px;
}
.slot h2{
    margin: 10px;
    font-size: 17px;
}
.slot p{
    margin: 0px 10px 0px 10px;
    font-size: 15px;
}
.slot i{
    margin-top: 15px;
    margin-left: 10px;
}

#main_2{
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    margin: 30px 0px 0px 0px;
    background-color: white;
    padding: 0px 0px 40px 35px;
    margin: 90px 0px 90px 0px;
    box-shadow: 0px 0px 12px -10px;
}
#main_2 > img:first-of-type{
    max-height: 410px;
    -webkit-mask-image: linear-gradient(to right, black, transparent);
    border-radius: 10px;
}
#main_2 > div:first-of-type{
    border-right: solid 2px;
    border-color: #00000091;
    margin: 0px 35px 0px 35px;
    max-height: 410px;
}
#main_2 > div:last-of-type{
    margin: 33px 120px 0px 0px;
}

#main_2 > div:last-of-type h2{
    margin: 0px 0px 12px 0px;
}
#main_2 > div:last-of-type p{
    margin: 0px 0px 12px 0px;
}
#main_2 > div:last-of-type img{
    max-height: 30px;
}

body > footer:first-of-type{
    background-color: #292d33;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 12px -10px;
}
body > footer:first-of-type div > p:first-of-type{
    color: white;
    border-right: solid 1px;
    border-color: white;
    display: inline;
    padding: 0px 10px 0px 0px;
}
body > footer:first-of-type div > p:last-of-type{
    color: white;
    display: inline;
    padding: 0px 0px 0px 10px;
}